<!DOCTYPE html>
<html>
  <head>
      <title><%= htmlWebpackPlugin.options.title %></title>

      <meta name="author" content="Kilian Pfeifer">
      <meta name="description" content="Implement a UI displaying a list of job posting search results by fetching search results from the Joblocal API">
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  </head>
  <body>
    <div id="site"></div>
  </body>
</html>
