<template>
  <b-container>
    <b-navbar toggleable="lg" type="dark" variant="info">
      <b-navbar-brand href="#">Joblocal Search Jobs UI</b-navbar-brand>

      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">
            <b-form-input v-model="searchQuery" size="sm" class="mr-sm-2" placeholder="Insert your keywords" @keyup.enter="startSearch()"></b-form-input>
            <b-button id="searchBtn" :disabled="loading" size="sm" class="my-2 my-sm-0" type="button" @click="startSearch()"><nobr>
              <b-spinner v-if="loading" variant="light" small></b-spinner>
              <span>Search</span>
            </nobr></b-button>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
    <b-alert
      v-if="gotResults && resultIsEmpty"
      show
      class="mt-3"
      variant="warning">
      Mit dem Suchbegriff "{{ searchQuery }}" konnten leider keine Stellenanzeigen gefunden werden.
    </b-alert>
    <div v-else-if="gotResults">
      <b-list-group v-if="searchResult && searchResult.data.relationships.jobs.data" class="mt-3">
        <b-list-group-item v-for="searchJobResult in searchResult.data.relationships.jobs.data" :key="searchJobResult.id" button v-b-modal.jobmodal @click="currentModalJob = searchJobResult.id">
          <h4>{{ getJobResult(searchJobResult.id).attributes.title }}</h4>
          <p>{{ getJobResult(searchJobResult.id).attributes.company.name }}</p>
          <p v-html="getJobResult(searchJobResult.id).attributes.previewText.substr(0, 200)">...</p>
        </b-list-group-item>
      </b-list-group>
      <b-pagination
        class="mt-3"
        v-if="searchResult"
        align="center"
        v-model="searchResult.meta.pagination.current_page"
        :total-rows="searchResult.meta.pagination.total"
        :per-page="searchResult.meta.pagination.per_page"
        @change="startPaginationSearch"
      ></b-pagination>
      <b-modal
        id="jobmodal"
        size="lg"
        v-if="currentModalJob"
        :title="getJobResult(currentModalJob).attributes.title + ' in ' + getJobResult(currentModalJob).attributes.location.city"
        ok-title="Jetzt bewerben!"
        cancel-title="Zurück">
        <p>Veröffentlicht am {{ new Date(getJobResult(currentModalJob).attributes.publications[0].createTime).toLocaleDateString() }}</p>
        <img v-if="getJobResult(currentModalJob).attributes.company.logo" :src="getJobResult(currentModalJob).attributes.company.logo" max-height="150">
        <p class="my-4" v-html="getJobResult(currentModalJob).attributes.previewText"></p>
        <b v-if="getJobResult(currentModalJob).attributes.qualifications.length">Qualifikationen:</b>
        <ul>
          <li v-for="quali in getJobResult(currentModalJob).attributes.qualifications">{{ quali.title }}</li>
        </ul>
        <b>Beschäftigungstyp:</b>
        <ul>
          <li v-for="type in getJobResult(currentModalJob).attributes.employmentTypes">{{ type.title }}</li>
        </ul>
      </b-modal>
    </div>
  </b-container>
</template>
<script>

// Tools
import Vue from 'vue'
import axios from 'axios'
var Url = require('url-parse');

export default{
  data() { return{
    searchResult: null,
    searchQuery: '',
    loading: false,
    currentModalJob: null
  }},
  computed:{
    gotResults(){
      if(this.loading) return false
      else if (false) return false
      else return true
    },
    resultIsEmpty(){
      if(this.searchResult && this.searchResult.data.relationships.jobs.data.length == 0) return true
      else return false
    }
  },
  methods:{
    getJobResult(objId){
      return this.searchResult.included.find(el => el.id == objId)
    },
    startPaginationSearch(newPage){
      this.startSearch(newPage)
    },
    async startSearch(pageNumber=1){
      this.loading=true
      this.searchResult = null
      this.currentModalJob = null
      var link = Url('https://api.joblocal.de/v4/search-jobs', true)
      link.query['search.query'] = this.searchQuery
      link.query['page.number'] = pageNumber

      await axios.get(link.toString())
      .then(response => {
        // console.log(response.data);
        this.searchResult = response.data
        this.loading=false
      })
      .catch(error => {
        console.log(error);
        this.loading=false
      })
    }
  }
}

</script>
